/* http://meyerweb.com/eric/tools/css/reset/  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

:focus {
  outline: -webkit-focus-ring-color auto 5px; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  image-rendering: optimizeQuality;
  text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

.grid-container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 7.5px; }
  @media screen and (min-width: 600px) {
    .grid-container {
      padding: 0 15px; } }
  @media screen and (min-width: 960px) {
    .grid-container {
      padding: 0 22.5px; } }
  @media screen and (min-width: 1280px) {
    .grid-container {
      padding: 0 22.5px; } }
  .grid-container:after {
    content: "";
    display: table;
    clear: both; }
  .grid-container [class*='column-'],
  .grid-container .grid-column {
    float: left;
    padding: 0 7.5px; }
    @media screen and (min-width: 600px) {
      .grid-container [class*='column-'],
      .grid-container .grid-column {
        padding: 0 15px; } }
    @media screen and (min-width: 960px) {
      .grid-container [class*='column-'],
      .grid-container .grid-column {
        padding: 0 22.5px; } }
    @media screen and (min-width: 1280px) {
      .grid-container [class*='column-'],
      .grid-container .grid-column {
        padding: 0 22.5px; } }
  .grid-container.is-gutterless {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0; }
    .grid-container.is-gutterless:after {
      content: "";
      display: table;
      clear: both; }
    .grid-container.is-gutterless [class*='column-'],
    .grid-container.is-gutterless .grid-column {
      float: left;
      padding: 0; }

.column-full-width {
  width: 100%; }

.column-one-half {
  width: 50%; }

.column-one-third {
  width: 33.33%; }

.column-two-thirds {
  width: 66.66%; }

.column-one-quarter {
  width: 25%; }

.column-three-quarters {
  width: 75%; }

.column-one-sixth {
  width: 16.666667%; }

/* Poppins- latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
}


input.button,
a.button,
.button {
  font-size: 14px;
  line-height: 24px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px 0px;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 12px 17px 10px 17px;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #0a0039;
  border: 1px solid #0a0039;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  width: auto;
  -webkit-appearance: none;
  -webkit-border-radius: none;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease;
  width: 100%; }
  @media screen and (min-width: 600px) {
    input.button,
    a.button,
    .button {
      font-size: 16px;
      line-height: 22px; } }
  @media screen and (min-width: 600px) {
    input.button,
    a.button,
    .button {
      border-radius: 5px;
      padding: 12px 60px 12px 60px;
      width: auto; } }
  input.button.secondary,
  a.button.secondary,
  .button.secondary {
    background-color: rgba(10, 0, 57, 0.05);
    box-shadow: rgba(0, 0, 0, 0.025) 0px 5px 15px 0px;
    color: rgba(10, 0, 57, 0.75);
    border: 1px solid rgba(10, 0, 57, 0.1); }
    input.button.secondary:hover,
    a.button.secondary:hover,
    .button.secondary:hover {
      border: 1px solid rgba(10, 0, 57, 0.1);
      background-color: rgba(10, 0, 57, 0.1);
      color: #0a0039; }
  input.button:hover,
  a.button:hover,
  .button:hover {
    transition: background-color 0.2s ease;
    background-color: rgba(10, 0, 57, 0.85);
    border: 1px solid rgba(10, 0, 57, 0.85);
    color: #fff;
    cursor: pointer;
    text-shadow: none;
    text-decoration: none; }

.button-group {
  overflow-x: auto;
  white-space: nowrap; }
  @media screen and (min-width: 600px) {
    .button-group {
      white-space: normal; } }
  .button-group .button {
    border-radius: 0;
    margin: 0;
    padding: 6px 16px;
    background-color: rgba(10, 0, 57, 0.05);
    box-shadow: rgba(0, 0, 0, 0.025) 0px 5px 15px 0px;
    color: rgba(10, 0, 57, 0.75);
    border: 1px solid rgba(10, 0, 57, 0.1);
    width: auto; }
    .button-group .button:hover {
      border: 1px solid rgba(10, 0, 57, 0.1);
      background-color: rgba(10, 0, 57, 0.1);
      color: #0a0039; }
    .button-group .button.active {
      background-color: #0a0039;
      border: 1px solid #0a0039;
      color: #fff; }
    .button-group .button:first-child {
      border-radius: 19px 0px 0px 19px;
      padding-left: 20px; }
    .button-group .button:last-child {
      border-radius: 0 19px 19px 0px;
      padding-right: 20px; }

ul.horizontal-list li {
  float: left;
  list-style: none;
  margin-right: 22.5px;
  margin-top: 16px; }
  ul.horizontal-list li:last-child {
    margin-right: 0; }

.phase-banner {
  font-size: 14px;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 10px; }
  @media screen and (min-width: 600px) {
    .phase-banner {
      font-size: 16px;
      line-height: 22px; } }
  .phase-banner .phase-notice {
    position: relative;
    top: 1px;
    left: 6px; }

.phase-label {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 24px;
  height: 24px;
  border-radius: 12px;
  display: inline-block;
  padding: 0 16px;
  text-align: center; }
  .phase-label.is-alpha {
    color: #990059;
    background-color: #FBD0E9; }
  .phase-label.is-beta {
    color: #663300;
    background-color: #FFD9B3; }
  .phase-label.is-discovery {
    color: #043049;
    background-color: #CEECFD; }
  .phase-label.is-idea {
    background-color: #F0FAFE;
    border: 1px solid #CEECFD; }
  .phase-label.is-live {
    color: #003906;
    background-color: #ABEDAB; }
  .phase-label.is-scoping {
    background-color: #E7F6FE;
    border: 1px solid #CEECFD; }

ul.vertical-list-navigation {
  margin-left: 0; }
  ul.vertical-list-navigation li {
    list-style: none; }
    ul.vertical-list-navigation li a {
      font-size: 14px;
      line-height: 24px;
      border-bottom: 1px solid rgba(10, 0, 57, 0.05);
      display: block;
      padding: 6px 0 6px 12px;
      text-decoration: none; }
      @media screen and (min-width: 600px) {
        ul.vertical-list-navigation li a {
          font-size: 16px;
          line-height: 22px; } }
      ul.vertical-list-navigation li a:hover {
        background-color: rgba(10, 0, 57, 0.05); }
    ul.vertical-list-navigation li.is-active a {
      background-color: rgba(10, 0, 57, 0.05); }

.footer {
  padding: 30px 0;
  margin-top: 2em;
  background-color: #fff; }

.header {
  width: 100%;
  height: 60px;
  top: 0;
  z-index: 99;
  background-color: #fafafa;
  position: fixed;
  box-shadow: 0px 2px 2px rgba(10, 1, 57, 0.08); }
  .header .header-logo {
    position: absolute;
    top: 15px; }
    .header .header-logo h1 {
      display: none; }
    .header .header-logo .logo {
      height: 40px; }
      .header .header-logo .logo path {
        fill: #0a0039; }

.main {
  margin-top: 60px;
  min-height: 600px; }
  @media screen and (min-width: 960px) {
    .main {
      min-height: 840px; } }

.primary-navigation {
  display: none; }
  @media screen and (min-width: 960px) {
    .primary-navigation {
      display: block;
      float: right; } }
  .primary-navigation a {
    font-size: 14px;
    line-height: 24px;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #0a0039;
    text-decoration: none; }
    @media screen and (min-width: 600px) {
      .primary-navigation a {
        font-size: 16px;
        line-height: 22px; } }
    .primary-navigation a.is-active, .primary-navigation a:hover {
      border-bottom: 1px solid #0a0039; }
	.primary-navigation span.is-site-name {
		font-weight: 400;
		color: #857F9C;
	}

.vertical-spacing-bottom-0 {
  margin-bottom: 0px; }
  @media screen and (min-width: 600px) {
    .vertical-spacing-bottom-0 {
      margin-bottom: 0px; } }
  @media screen and (min-width: 960px) {
    .vertical-spacing-bottom-0 {
      margin-bottom: 0px; } }
  @media screen and (min-width: 1800px) {
    .vertical-spacing-bottom-0 {
      margin-bottom: 0px; } }

.vertical-spacing-bottom-0-25 {
  margin-bottom: 7.5px; }
  @media screen and (min-width: 600px) {
    .vertical-spacing-bottom-0-25 {
      margin-bottom: 15px; } }
  @media screen and (min-width: 960px) {
    .vertical-spacing-bottom-0-25 {
      margin-bottom: 11.25px; } }
  @media screen and (min-width: 1800px) {
    .vertical-spacing-bottom-0-25 {
      margin-bottom: 11.25px; } }

.vertical-spacing-bottom-0-5 {
  margin-bottom: 15px; }
  @media screen and (min-width: 600px) {
    .vertical-spacing-bottom-0-5 {
      margin-bottom: 30px; } }
  @media screen and (min-width: 960px) {
    .vertical-spacing-bottom-0-5 {
      margin-bottom: 22.5px; } }
  @media screen and (min-width: 1800px) {
    .vertical-spacing-bottom-0-5 {
      margin-bottom: 22.5px; } }

.vertical-spacing-bottom {
  margin-bottom: 30px; }
  @media screen and (min-width: 600px) {
    .vertical-spacing-bottom {
      margin-bottom: 60px; } }
  @media screen and (min-width: 960px) {
    .vertical-spacing-bottom {
      margin-bottom: 45px; } }
  @media screen and (min-width: 1800px) {
    .vertical-spacing-bottom {
      margin-bottom: 45px; } }

.vertical-spacing-bottom-1-5 {
  margin-bottom: 45px; }
  @media screen and (min-width: 600px) {
    .vertical-spacing-bottom-1-5 {
      margin-bottom: 90px; } }
  @media screen and (min-width: 960px) {
    .vertical-spacing-bottom-1-5 {
      margin-bottom: 67.5px; } }
  @media screen and (min-width: 1800px) {
    .vertical-spacing-bottom-1-5 {
      margin-bottom: 67.5px; } }

.vertical-spacing-bottom-2 {
  margin-bottom: 60px; }
  @media screen and (min-width: 600px) {
    .vertical-spacing-bottom-2 {
      margin-bottom: 120px; } }
  @media screen and (min-width: 960px) {
    .vertical-spacing-bottom-2 {
      margin-bottom: 90px; } }
  @media screen and (min-width: 1800px) {
    .vertical-spacing-bottom-2 {
      margin-bottom: 90px; } }

.vertical-spacing-bottom-3 {
  margin-bottom: 90px; }
  @media screen and (min-width: 600px) {
    .vertical-spacing-bottom-3 {
      margin-bottom: 180px; } }
  @media screen and (min-width: 960px) {
    .vertical-spacing-bottom-3 {
      margin-bottom: 135px; } }
  @media screen and (min-width: 1800px) {
    .vertical-spacing-bottom-3 {
      margin-bottom: 135px; } }

.vertical-spacing-bottom-4 {
  margin-bottom: 120px; }
  @media screen and (min-width: 600px) {
    .vertical-spacing-bottom-4 {
      margin-bottom: 240px; } }
  @media screen and (min-width: 960px) {
    .vertical-spacing-bottom-4 {
      margin-bottom: 180px; } }
  @media screen and (min-width: 1800px) {
    .vertical-spacing-bottom-4 {
      margin-bottom: 180px; } }

.vertical-spacing-top-0-25 {
  margin-top: 7.5px; }
  @media screen and (min-width: 600px) {
    .vertical-spacing-top-0-25 {
      margin-top: 15px; } }
  @media screen and (min-width: 960px) {
    .vertical-spacing-top-0-25 {
      margin-top: 11.25px; } }
  @media screen and (min-width: 1800px) {
    .vertical-spacing-top-0-25 {
      margin-top: 11.25px; } }

.vertical-spacing-top-0-5 {
  margin-top: 15px; }
  @media screen and (min-width: 600px) {
    .vertical-spacing-top-0-5 {
      margin-top: 30px; } }
  @media screen and (min-width: 960px) {
    .vertical-spacing-top-0-5 {
      margin-top: 22.5px; } }
  @media screen and (min-width: 1800px) {
    .vertical-spacing-top-0-5 {
      margin-top: 22.5px; } }

.vertical-spacing-top {
  margin-top: 30px; }
  @media screen and (min-width: 600px) {
    .vertical-spacing-top {
      margin-top: 60px; } }
  @media screen and (min-width: 960px) {
    .vertical-spacing-top {
      margin-top: 45px; } }
  @media screen and (min-width: 1800px) {
    .vertical-spacing-top {
      margin-top: 45px; } }

.vertical-spacing-top-1-5 {
  margin-top: 45px; }
  @media screen and (min-width: 600px) {
    .vertical-spacing-top-1-5 {
      margin-top: 90px; } }
  @media screen and (min-width: 960px) {
    .vertical-spacing-top-1-5 {
      margin-top: 67.5px; } }
  @media screen and (min-width: 1800px) {
    .vertical-spacing-top-1-5 {
      margin-top: 67.5px; } }

.vertical-spacing-top-2 {
  margin-top: 60px; }
  @media screen and (min-width: 600px) {
    .vertical-spacing-top-2 {
      margin-top: 120px; } }
  @media screen and (min-width: 960px) {
    .vertical-spacing-top-2 {
      margin-top: 90px; } }
  @media screen and (min-width: 1800px) {
    .vertical-spacing-top-2 {
      margin-top: 90px; } }

body {
  font-size: 16px;
  line-height: 22px;
  color: #0a0039;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden; }
  @media screen and (min-width: 600px) {
    body {
      font-size: 18px;
      line-height: 27px; } }

h1 {
  font-feature-settings: "salt" on;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -0.0125em;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 0.5em; }
  @media screen and (min-width: 960px) {
    h1 {
      font-size: 48px;
      line-height: 50px; } }
  h1.extra-large {
    font-feature-settings: "salt" on;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.025em; }
    @media screen and (min-width: 600px) {
      h1.extra-large {
        font-size: 48px;
        line-height: 50px; } }
    @media screen and (min-width: 960px) {
      h1.extra-large {
        font-size: 72px;
        line-height: 82px; } }

h2 {
  font-feature-settings: "salt" on;
  font-size: 27px;
  line-height: 30px;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 1em; }
  @media screen and (min-width: 600px) {
    h2 {
      font-size: 36px;
      line-height: 40px;
      letter-spacing: -0.006125em; } }

h3 {
  font-size: 16px;
  line-height: 22px;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 1em; }
  @media screen and (min-width: 600px) {
    h3 {
      font-size: 18px;
      line-height: 27px; } }

p {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 1em;
  max-width: 740px; }
  @media screen and (min-width: 600px) {
    p {
      font-size: 18px;
      line-height: 27px; } }

strong,
.strong {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif; 
  font-weight:600
}

em {
  font-style: italic; }

ul, ol {
  margin-left: 20px;
  margin-bottom: 1em; }
  ul.no-bullets, ol.no-bullets {
    margin-left: 0;
    list-style: none; }

li {
  max-width: 740px; }

a {
  color: #0a0039;
  text-decoration: underline; }
  a.no-underline {
    text-decoration: none; }
    a.no-underline:hover {
      text-decoration: underline; }

img {
  width: 100%; }

.contains-markdown ul, .contains-markdown ol {
  margin-bottom: 30px; }
  @media screen and (min-width: 600px) {
    .contains-markdown ul, .contains-markdown ol {
      margin-bottom: 60px; } }
  @media screen and (min-width: 960px) {
    .contains-markdown ul, .contains-markdown ol {
      margin-bottom: 45px; } }
  @media screen and (min-width: 1800px) {
    .contains-markdown ul, .contains-markdown ol {
      margin-bottom: 45px; } }

.contains-markdown h1 + h3,
.contains-markdown h2 + h3,
.contains-markdown p + h3 {
  margin-top: 30px; }
  @media screen and (min-width: 600px) {
    .contains-markdown h1 + h3,
    .contains-markdown h2 + h3,
    .contains-markdown p + h3 {
      margin-top: 60px; } }
  @media screen and (min-width: 960px) {
    .contains-markdown h1 + h3,
    .contains-markdown h2 + h3,
    .contains-markdown p + h3 {
      margin-top: 45px; } }
  @media screen and (min-width: 1800px) {
    .contains-markdown h1 + h3,
    .contains-markdown h2 + h3,
    .contains-markdown p + h3 {
      margin-top: 45px; } }

.contains-markdown p + h2,
.contains-markdown ul + h2,
.contains-markdown ol + h2 {
  margin-top: 60px; }
  @media screen and (min-width: 600px) {
    .contains-markdown p + h2,
    .contains-markdown ul + h2,
    .contains-markdown ol + h2 {
      margin-top: 120px; } }
  @media screen and (min-width: 960px) {
    .contains-markdown p + h2,
    .contains-markdown ul + h2,
    .contains-markdown ol + h2 {
      margin-top: 90px; } }
  @media screen and (min-width: 1800px) {
    .contains-markdown p + h2,
    .contains-markdown ul + h2,
    .contains-markdown ol + h2 {
      margin-top: 90px; } }

.contains-markdown li {
  margin-bottom: 5px; }

.body-copy-smallest {
  font-size: 14px;
  line-height: 24px; }

.body-copy-small {
  font-size: 14px;
  line-height: 24px; }
  @media screen and (min-width: 600px) {
    .body-copy-small {
      font-size: 16px;
      line-height: 22px; } }

.body-copy-medium {
  font-size: 16px;
  line-height: 22px; }
  @media screen and (min-width: 600px) {
    .body-copy-medium {
      font-size: 18px;
      line-height: 27px; } }

.body-copy-large {
  font-size: 18px;
  line-height: 27px; }
  @media screen and (min-width: 600px) {
    .body-copy-large {
      font-size: 24px;
      line-height: 32px; } }

.heading-small {
  font-feature-settings: "salt" on;
  font-size: 24px;
  line-height: 32px;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 760px; }
  @media screen and (min-width: 600px) {
    .heading-small {
      font-size: 27px;
      line-height: 30px; } }

.heading-medium {
  font-feature-settings: "salt" on;
  font-size: 27px;
  line-height: 30px;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: -1px;
  max-width: 760px; }
  @media screen and (min-width: 600px) {
    .heading-medium {
      font-size: 36px;
      line-height: 40px;
      letter-spacing: -0.006125em; } }

.heading-large {
  font-feature-settings: "salt" on;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -0.0125em;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: -2px;
  max-width: 760px; }
  @media screen and (min-width: 960px) {
    .heading-large {
      font-size: 48px;
      line-height: 50px; } }

.heading-extra-large {
  font-feature-settings: "salt" on;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -0.025em;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: -4px;
  max-width: 800px; }
  @media screen and (min-width: 600px) {
    .heading-extra-large {
      font-size: 48px;
      line-height: 50px; } }
  @media screen and (min-width: 960px) {
    .heading-extra-large {
      font-size: 72px;
      line-height: 82px; } }

.ui-copy {
  font-size: 14px;
  line-height: 24px;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px; }
  @media screen and (min-width: 600px) {
    .ui-copy {
      font-size: 16px;
      line-height: 22px; } }

.tabular-numbers {
  font-variant-numeric: tabular-nums; }

.small {
  font-size: 14px;
  line-height: 24px; }
  @media screen and (min-width: 600px) {
    .small {
      font-size: 16px;
      line-height: 22px; } }

.force-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word; }

.bottom-border {
  border-bottom: 1px solid rgba(10, 0, 57, 0.1); }

.top-border {
  border-top: 1px solid rgba(10, 0, 57, 0.1); }

.bottom-border-2 {
  border-bottom: 2px solid rgba(10, 0, 57, 0.1); }

.top-border-2 {
  border-top: 2px solid rgba(10, 0, 57, 0.1); }
  .top-border-2.heavy-border {
    border-top-color: #0a0039; }

.desktop-only {
  display: none; }
  @media screen and (min-width: 960px) {
    .desktop-only {
      display: inline; } }

.logo {
  display: block;
  height: 40px; }

.proto-type,
.proto-colors {
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 40px; }

.proto-type p {
  margin-bottom: 15px; }

.proto-color-swatch {
  border-radius: 50%;
  display: block;
  float: left;
  width: 44px;
  height: 44px;
  margin-right: 11px; }
  @media screen and (min-width: 960px) {
    .proto-color-swatch {
      height: 88px;
      width: 88px;
      margin-right: 22px; } }

.proto-style-block {
  display: block;
  margin-bottom: 120px; }

.proto-background {
  min-height: 140px;
  background-color: #f5f5f5; }
  .proto-background.tall {
    min-height: 500px; }

.proto-color-1 {
  background-color: #ff5c5c; }

.proto-color-2 {
  background-color: #ee7abb; }

.proto-color-3 {
  background-color: #22cae1; }

.proto-color-4 {
  background-color: #ffe8b4; }

.proto-color-5 {
  background-color: #09CA77; }

.pipeline-item {
  position: relative; }
  .pipeline-item .phase-label {
    position: absolute;
    right: 0;
    top: 4px; }
    @media screen and (min-width: 960px) {
      .pipeline-item .phase-label {
        top: 8px; } }

.proto-pipeline-phase {
  width: 50%;
  margin-bottom: 15px; }
  @media screen and (min-width: 600px) {
    .proto-pipeline-phase {
      width: 33.33%;
      margin-bottom: 30px; } }
  @media screen and (min-width: 960px) {
    .proto-pipeline-phase {
      width: 16.666667%;
      margin-bottom: 45px; } }

.phase-title {
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  width: 100%;
  border-top: 10px solid #FF64BE;
  padding-top: 5px; }
  @media screen and (min-width: 600px) {
    .phase-title {
      font-size: 18px;
      line-height: 27px; } }
  .phase-title.is-alpha {
    border-color: #FF64BE; }
  .phase-title.is-beta {
    border-color: #FF8000; }
  .phase-title.is-discovery {
    border-color: #0CA6F3; }
  .phase-title.is-idea {
    border-color: #C2E9FC; }
  .phase-title.is-live {
    border-color: #00B200; }
  .phase-title.is-scoping {
    border-color: #86D2F9; }

.phase-count {
  display: inline-block;
  margin-left: 1px;
  width: 100%; }
  .phase-count a {
    text-decoration: none; }

.state-label {
  font-size: 14px;
  line-height: 24px;
  display: block;
  margin-left: 16px; }
  @media screen and (min-width: 600px) {
    .state-label {
      font-size: 16px;
      line-height: 22px; } }
  .state-label:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    position: relative;
    top: 16px;
    left: -16px; }
  .state-label.active:before {
    background-color: #019B59; }
  .state-label.inactive:before {
    background-color: white;
    border: 1px solid #9A9A9A;
    width: 8px;
    height: 8px; }

td {
  padding-right: 10px;
}

.breadcrumbs-level-1 {
  opacity: 50%;
}

.breadcrumbs-level-2 {
  opacity: 75%;
}