{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<section class="vertical-spacing-top">
  <div class="grid-container">
      <div class="column-full-width">
          <div class="inner">
            <h1>{{ article.title }}</h1>
            <div class="body-copy-small vertical-spacing-bottom-0-5">Posted on <strong>{{ article.locale_date }}</strong></div>
            {{ article.content }}
            {% for tag in article.tags %}
              <a href="/tags/{{tag}}.html">{{ tag }}</a>
              {% endfor %}
            </div>
          </div>
      </div>
  </section>
{% endblock %}
